<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> TEM CERTEZA QUE DESEJA DELETERA O REGISTRO A BAIXO? {{person}}</h1>
    <form>method = "POST"</form>

</body>
</html>